<div>
<!--
  <label [attr.for]="question.key">{{question.label}}</label>
 -->
  <div [ngSwitch]="controlType">
 
    <input *ngSwitchCase="'textbox'" name="element" [(ngModel)]="getModelPart()[element]" type="{{typeEle}}">
 
    <select  *ngSwitchCase="'dropdown'" [(ngModel)]="getModelPart()[element]">
      <option *ngFor="let opt of getReg()" [value]="opt.value">{{opt.type}}</option>
    </select>
 
  </div>
 
</div>

<button (click)="changeScreen()">change</button>
<button (click)="onSubmit()">sub</button>
